<style>
 /*css*/
 
header.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  padding-block: 1rem;
  z-index: 999;
}
 
header.navbar-container .logo img {
  width: 150px;
}
 
header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: .5rem 1.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}
 
header.navbar-container .nav-list li:hover a {
  background-color: burlywood;
  color: white;
}
 
</style>
<!--html-->

<header class="navbar-container">
      <!--menampilkan logo, jika di klik kembali ke halaman utama-->
      <div class="logo">
        <a href="/">
          <img src="src/Shop/Logo_GulaJava-removebg-preview.png" />
        </a>
      </div>
      <!--navigasi situs-->
      <nav class="nav-list">
        <ul>
           <!--arah navigasi-->
          <li><a href="/Tkami">Beranda</a></li>
          <li><a href="/Menu">Menu</a></li>
          <li><a href="/Tkami#Kritik">Kritik Saran</a></li>
          <li><a href="#Kont" >Kontak</a> a</li>
        </ul>
      </nav>
    </header>

  <!--js-->

