body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-heading {
    text-align: center;
    color: #604c4c;
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    margin-bottom: 10px;
    color: #604c4c;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"],
button.signup-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #604c4c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Set buttons to take full width */
    max-width: 200px; /* Set max-width for buttons */
    margin-bottom: 10px;
}

button[type="submit"]:hover,
button.signup-btn:hover {
    background-color: #7b635d;
}

#error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}
