@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Prata&family=Press+Start+2P&family=Quicksand:wght@400;500;700&family=Satisfy&display=swap');
 
*, *::before, *::after {
  box-sizing: border-box;
}
 
body {
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  display: grid;
  flex-direction: column;
  min-height: 80vh;
  place-items: center;
  background: #ffffff;    
  font-weight: 400;
  transition: background .4s ease-in;
  
  &.blue {
    background-color: #428aa6;
  }
} 
 
header.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  padding-block: 1rem;
  z-index: 999;
}
 
header.navbar-container .logo img {
  width: 150px;
}
 
header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: .5rem 1.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}
 
header.navbar-container .nav-list li:hover a {
  background-color: burlywood;
  color: white;
}
 
main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 4rem;
  flex: 1;
 
  display: flex;
  align-items: center;
  
}
 
main .content {
  flex: 1;
  display: flex;
  align-items: center;

}
 
main .content .content-description {
  flex: 1 1;
}
 
main .content .content-description .title{
font-family: 'Satisfy', cursive;
  font-size: 3.5rem;
  margin-block: 1rem;
}

.title h2{
  font-family: 'Satisfy', cursive;
  font-size: 3.5rem;
  margin-block: 1rem;
}

span{
color: bisque;
}
 
main .content .content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}
 
main .content .content-description button {
  padding: .8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
 
  border: 3px solid transparent;
  border-radius: 999px;
  background-color:burlywood;
  cursor: pointer;
  transition: all .15s ease-in;
}
 
main .content .content-description button:hover {
  border: 3px solid burlywood;
  color: burlywood;
  background-color: transparent;
}
 
main .content .content-image {
  flex: 1;
  display: flex;
  
}
 
main .content .content-image img {
  margin: auto;
  width: 460px;
  border-radius: 30px;
}
 
main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}
 
main aside .social-media {
  height: 100%;
  display: flex;
}
 
main aside .social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: burlywood;
 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
 
main aside .social-media li {
  list-style-type: none;
}
 
main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all .1s ease-in-out;
}
 
main aside .social-media li a:hover {
  color: blanchedalmond;
}

.bg-kopi{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 8rem;
    height: 15rem;
    background-image: url(../assets/coffee-beans-top-view-white-background-space-text.jpg);
    width: 88.9rem;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#carouselExampleAutoplaying{
    margin-left: 390px;
    margin-top: 100px;
    height: 620px;
    width: 700px;
}


.image{
    border-radius: 100%;
}

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}




.slide {
    height: 60vh;
    border-radius: 20px;
    margin: 2   0px;
    cursor: pointer;
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.7s ease-in-out;
    filter: blur(4px);
}

.slide h3 {
    position: absolute;
    font-size: clamp(1rem, 5vw, 5rem);
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: #e3fdf5;
    background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slide.active {
    flex: 10;
    filter: blur(0px);
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* responsive */

@media screen and (max-width: 50rem) {

    .container {
        display: flex;
        height: 90vh;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .slide {
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
    }

}

.IsisamaFooter{
    background-color: rgb(248, 241, 248);
    height:100px;
    width: 100%;
    color: black;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
    > div {
        flex: 0 0 120px;
        border-radius: 0.5rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        box-shadow: 1px 5px 15px #1e0e3e;
        position: relative;
        overflow: hidden;


.content {
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: rgb(2, 2, 46);
    background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: translatey(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    visibility: hidden;

span{
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
    }
    }

&:hover {
    flex: 0 0 200px;
    box-shadow: 1px 3px 15px #302f31;
    transform: translatey(-30px);
    }

&:hover .content {
    opacity: 1;
    transform: translatey(0%);
    visibility: visible;
    }
}
}

.explanation{
    text-align: center;
    color: black;
    flex: 1;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex: 1;
    display: contents;
    align-items: center;
}



input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container1 {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2rem;
  > div {
      flex: 0 0 300px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
   
      position: relative;
      overflow: hidden;
  

}
}



.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.player {
  width: 320px;
  height: 500px;
  padding: 16px 10px;
  
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 120px;
  overflow: hidden;
}


.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 138%;
  line-height: 106.8%;
}

.sub-line {
  display:grid;
  justify-content:space-between;
  width: 100%;
}

.subtitle{
  font-size: 10px;
  line-height: 20px;
  color: black;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-125px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-275px);
}

header {
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 20px;
 
}

p {
  line-height: 1.5;
  color: black;
}

.form-control {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

input,
textarea {
    width: 100%;
    resize: none;
    overflow-x: hidden;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: black;
    border-radius: 10px;
    transition: border-color 0.3s;
}

button {
    background-color: #342a2a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* The footer is fixed to the bottom of the page */

footer{
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed {
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35 px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}